In [1]:
# Import dependencies
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from pprint import pprint

app = Flask(__name__)

In [2]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///../db/developers.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Survey = Base.classes.survey

/Users/alexstanley/anaconda3/envs/python36/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
# find devtypes, languageworkedwith, databaseworkedwith, frameworkWorkededWith
s = [Survey.Respondent,
     Survey.DevType,
     Survey.LanguageWorkedWith,
     Survey.ConvertedSalary
    ]

radarResults = db.session.query(*s).filter(Survey.ConvertedSalary != '').all()

In [4]:
# put results into pandas
df = pd.DataFrame(radarResults)
df['ConvertedSalary'] = pd.to_numeric(df['ConvertedSalary'])
df.head()

,Respondent,DevType,LanguageWorkedWith,ConvertedSalary
0,2999,Data or business analyst;Educator or academic ...,C;C++;Java;SQL;Swift,8400
1,2943,Back-end developer;Database administrator;Desk...,C++;Java;JavaScript;HTML;CSS,4980
2,3203,Back-end developer,C++;Java;Python;SQL;Bash/Shell,36716
3,3010,Mobile developer,C;C#;Java;Objective-C;Rust;Swift;TypeScript,51408
4,3067,Mobile developer,C;JavaScript;Objective-C;Swift,10175

In [5]:
# explode the devtype column so there's only one devtype for each row
expdev_df = pd.DataFrame(df.DevType.str.split(';').tolist(), index=[df.Respondent, df.LanguageWorkedWith, df.ConvertedSalary]).stack()

expdev_df = expdev_df.reset_index()

expdev_df = expdev_df.rename(columns={0:'DevType'})
expdev_df = expdev_df.drop(columns='level_3')

expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer
4,2999,C;C++;Java;SQL;Swift,8400,System administrator

In [6]:
expdev_df['LanguageList'] = expdev_df.LanguageWorkedWith.str.split(';')
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]"
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]"

In [7]:
# hard code top 10 languages from stack ooverflow website
topLang = ['JavaScript', 'HTML', 'CSS', 'SQL', 'Java', 'Bash/Shell', 'Python', 'C#', 'PHP', 'C++']

In [8]:
# Test case for one language
# Check if language is in each entries list of known languagesLanguage List. If yes, return 1, otherwise, return 0
# expdev_df['Python'] = np.where(expdev_df.LanguageList.apply(lambda x: 'Python' in x), 1, 0)

In [9]:
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]"
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]"

In [10]:
# Loop through each language and see if each respondent knows the language
for language in topLang:
    
    cName = 'salary' + language
    # dynamically create new column headers
    print('Checking for: ' + language + '...')        
    
    # Create new column to check if the respondent knows a language. If the languege is in the list of known languages, it gets 1, else it gets 0
    expdev_df[language] = np.where(expdev_df.LanguageList.apply(lambda x: language in x), 1, 0)
    expdev_df[cName] = np.where(expdev_df.LanguageList.apply(lambda x: language in x), expdev_df['ConvertedSalary'], 0)

    print(f'{language} done!')

Checking for: JavaScript...
JavaScript done!
Checking for: HTML...
HTML done!
Checking for: CSS...
CSS done!
Checking for: SQL...
SQL done!
Checking for: Java...
Java done!
Checking for: Bash/Shell...
Bash/Shell done!
Checking for: Python...
Python done!
Checking for: C#...
C# done!
Checking for: PHP...
PHP done!
Checking for: C++...
C++ done!

In [11]:
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList,JavaScript,salaryJavaScript,HTML,salaryHTML,CSS,...,Bash/Shell,salaryBash/Shell,Python,salaryPython,C#,salaryC#,PHP,salaryPHP,C++,salaryC++
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8400
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8400
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8400
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8400
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8400

In [12]:
# Aggregate by sum. This will get both the number of coders for a language but also the total salary for that language
totals = expdev_df.groupby('DevType').sum()
# drop unnecessary colums
totals = totals.drop(columns=['Respondent', 'ConvertedSalary'], index='')

totals

,JavaScript,salaryJavaScript,HTML,salaryHTML,CSS,salaryCSS,SQL,salarySQL,Java,salaryJava,Bash/Shell,salaryBash/Shell,Python,salaryPython,C#,salaryC#,PHP,salaryPHP,C++,salaryC++
DevType,,,,,,,,,,,,,,,,,,,,
Back-end developer,22051,2129999243,20743,1946176392,19880,1879105409,19216,1864067573,13126,1199814225,13335,1430948794,11218,1144858902,11256,1117356393,9595,780607983,6301,574087880
"C-suite executive (CEO, CTO, etc.)",1324,158907493,1282,152554122,1242,146526190,1135,138587134,643,70597188,876,116006787,659,84692982,588,69070214,722,77624699,416,47932326
Data or business analyst,2635,292922001,2722,296474863,2546,280882905,3135,346084270,1506,149894746,1763,213549293,2001,216460039,1559,193910905,1166,119508855,828,84087919
Data scientist or machine learning specialist,2009,209233855,2024,204975597,1850,189151952,2230,233427206,1560,151900581,2020,221622479,2871,297967330,917,94551058,698,62836612,1229,120496600
Database administrator,5695,550811485,5704,535535383,5522,519486455,5914,571388003,2842,248567294,3586,389061142,2867,305255197,3040,308552479,3332,292817887,1577,138046770
Designer,4337,397038051,4470,398948565,4369,388271379,3559,319259519,2301,174735874,2201,224543626,1874,174624210,2213,220636921,2271,179304945,1425,116512220
Desktop or enterprise applications developer,6034,603072497,5979,591296192,5708,567159450,5905,574474352,3818,342546650,3554,364862446,2962,285033585,5337,543186874,2180,180955532,2963,274585781
DevOps specialist,4645,545170941,4312,493722169,4123,474489543,4034,476192349,2698,307841409,4187,495283252,3182,352294166,2086,264324990,2003,207477823,1211,137215384
Educator or academic researcher,1067,96849508,1120,97814267,1065,90302814,918,78284438,768,54327625,949,86829601,975,80990204,474,40701565,506,38314559,648,55013986
Embedded applications or devices developer,1415,132333853,1362,130394796,1245,120774231,1147,115646046,1126,108667530,1510,149350110,1526,144968329,1034,97795166,636,49383649,1689,160062320
Engineering manager,2226,300099134,2103,271505029,2013,258387669,1923,245782148,1331,171813342,1651,227699294,1306,181583048,1039,137327369,930,106823096,727,87810986
Front-end developer,16342,1572522689,15884,1496376569,15718,1487396329,11628,1096657823,7397,642783202,7670,802029283,5822,567228088,7290,736674259,7030,574282300,3425,290317506
Full-stack developer,22089,2225687877,20997,2074247754,20531,2047083543,17252,1733004454,10675,1020352502,11502,1242740876,8990,936857893,10600,1099782032,8802,758342927,4621,439218859
Game or graphics developer,1328,112228385,1326,103055722,1269,97889904,931,73520447,960,65253795,869,76921976,873,74227380,1057,90138330,677,49670889,1011,86989254
Marketing or sales professional,370,40371325,392,41038461,378,39323068,305,32790209,166,18007680,197,26855605,175,19974689,133,17097162,242,25714019,101,11832012
Mobile developer,6268,548066257,6017,512287901,5829,503112506,4784,412552307,5458,417906130,3289,341820991,2842,256531390,3387,310690649,2932,215541611,2288,181488109
Product manager,1809,204989994,1807,205022761,1744,197523953,1619,177045732,935,105111042,1148,137985936,922,103216893,892,103796387,940,95042741,518,54845312
QA or test developer,2642,257158781,2622,250097186,2507,238489557,2402,226849087,1706,152857940,1865,199934919,1588,156545686,1405,151423625,1207,111865472,908,88809625
Student,3104,146274703,3346,143128950,3188,139967809,2553,111088331,2695,104324551,2003,98265085,2455,119499240,1572,64609881,1640,64954753,1882,77139545
System administrator,4479,453497553,4474,433013838,4299,414199997,4108,417804132,2389,233147744,3791,404192669,2856,294444876,1933,204754708,2713,254530627,1426,134393466

In [13]:
counts = totals[topLang]

counts

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
DevType,,,,,,,,,,
Back-end developer,22051,20743,19880,19216,13126,13335,11218,11256,9595,6301
"C-suite executive (CEO, CTO, etc.)",1324,1282,1242,1135,643,876,659,588,722,416
Data or business analyst,2635,2722,2546,3135,1506,1763,2001,1559,1166,828
Data scientist or machine learning specialist,2009,2024,1850,2230,1560,2020,2871,917,698,1229
Database administrator,5695,5704,5522,5914,2842,3586,2867,3040,3332,1577
Designer,4337,4470,4369,3559,2301,2201,1874,2213,2271,1425
Desktop or enterprise applications developer,6034,5979,5708,5905,3818,3554,2962,5337,2180,2963
DevOps specialist,4645,4312,4123,4034,2698,4187,3182,2086,2003,1211
Educator or academic researcher,1067,1120,1065,918,768,949,975,474,506,648
Embedded applications or devices developer,1415,1362,1245,1147,1126,1510,1526,1034,636,1689
Engineering manager,2226,2103,2013,1923,1331,1651,1306,1039,930,727
Front-end developer,16342,15884,15718,11628,7397,7670,5822,7290,7030,3425
Full-stack developer,22089,20997,20531,17252,10675,11502,8990,10600,8802,4621
Game or graphics developer,1328,1326,1269,931,960,869,873,1057,677,1011
Marketing or sales professional,370,392,378,305,166,197,175,133,242,101
Mobile developer,6268,6017,5829,4784,5458,3289,2842,3387,2932,2288
Product manager,1809,1807,1744,1619,935,1148,922,892,940,518
QA or test developer,2642,2622,2507,2402,1706,1865,1588,1405,1207,908
Student,3104,3346,3188,2553,2695,2003,2455,1572,1640,1882
System administrator,4479,4474,4299,4108,2389,3791,2856,1933,2713,1426

In [14]:
# empty list to hold column names
salaryList = []

# concat salery to each language so it matches the prev for loop
for l in topLang:
    c = 'salary' + l
    salaryList.append(c)

sals = totals[salaryList]
sals.columns = topLang

sals

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
DevType,,,,,,,,,,
Back-end developer,2129999243,1946176392,1879105409,1864067573,1199814225,1430948794,1144858902,1117356393,780607983,574087880
"C-suite executive (CEO, CTO, etc.)",158907493,152554122,146526190,138587134,70597188,116006787,84692982,69070214,77624699,47932326
Data or business analyst,292922001,296474863,280882905,346084270,149894746,213549293,216460039,193910905,119508855,84087919
Data scientist or machine learning specialist,209233855,204975597,189151952,233427206,151900581,221622479,297967330,94551058,62836612,120496600
Database administrator,550811485,535535383,519486455,571388003,248567294,389061142,305255197,308552479,292817887,138046770
Designer,397038051,398948565,388271379,319259519,174735874,224543626,174624210,220636921,179304945,116512220
Desktop or enterprise applications developer,603072497,591296192,567159450,574474352,342546650,364862446,285033585,543186874,180955532,274585781
DevOps specialist,545170941,493722169,474489543,476192349,307841409,495283252,352294166,264324990,207477823,137215384
Educator or academic researcher,96849508,97814267,90302814,78284438,54327625,86829601,80990204,40701565,38314559,55013986
Embedded applications or devices developer,132333853,130394796,120774231,115646046,108667530,149350110,144968329,97795166,49383649,160062320
Engineering manager,300099134,271505029,258387669,245782148,171813342,227699294,181583048,137327369,106823096,87810986
Front-end developer,1572522689,1496376569,1487396329,1096657823,642783202,802029283,567228088,736674259,574282300,290317506
Full-stack developer,2225687877,2074247754,2047083543,1733004454,1020352502,1242740876,936857893,1099782032,758342927,439218859
Game or graphics developer,112228385,103055722,97889904,73520447,65253795,76921976,74227380,90138330,49670889,86989254
Marketing or sales professional,40371325,41038461,39323068,32790209,18007680,26855605,19974689,17097162,25714019,11832012
Mobile developer,548066257,512287901,503112506,412552307,417906130,341820991,256531390,310690649,215541611,181488109
Product manager,204989994,205022761,197523953,177045732,105111042,137985936,103216893,103796387,95042741,54845312
QA or test developer,257158781,250097186,238489557,226849087,152857940,199934919,156545686,151423625,111865472,88809625
Student,146274703,143128950,139967809,111088331,104324551,98265085,119499240,64609881,64954753,77139545
System administrator,453497553,433013838,414199997,417804132,233147744,404192669,294444876,204754708,254530627,134393466

In [15]:
salLangDev = sals/counts

salLangDev

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
DevType,,,,,,,,,,
Back-end developer,96594.224434,93823.284578,94522.404879,97006.014415,91407.452766,107307.746082,102055.527010,99267.625533,81355.704325,91110.598318
"C-suite executive (CEO, CTO, etc.)",120020.765106,118996.975039,117975.998390,122103.201762,109793.449456,132427.839041,128517.423369,117466.350340,107513.433518,115221.937500
Data or business analyst,111165.844782,108918.024614,110323.214847,110393.706539,99531.703851,121128.356778,108175.931534,124381.593970,102494.729846,101555.457729
Data scientist or machine learning specialist,104148.260329,101272.528162,102244.298378,104675.877130,97372.167308,109714.098515,103785.207245,103109.114504,90023.799427,98044.426363
Database administrator,96718.434592,93887.689867,94075.779609,96616.165539,87462.102041,108494.462354,106471.990582,101497.525987,87880.518307,87537.584020
Designer,91546.703021,89250.238255,88869.622110,89704.838157,75939.102130,102018.912313,93182.609392,99700.370990,78954.180978,81762.961404
Desktop or enterprise applications developer,99945.723732,98895.499582,99362.202172,97286.088400,89718.871137,102662.477772,96230.109723,101777.566798,83007.124771,92671.542693
DevOps specialist,117367.263940,114499.575371,115083.566093,118044.707238,114099.855078,118290.721758,110714.697046,126713.801534,103583.536196,113307.501239
Educator or academic researcher,90768.048735,87334.166964,84791.374648,85277.165577,70739.095052,91495.891465,83066.875897,85868.280591,75720.472332,84898.126543
Embedded applications or devices developer,93522.157597,95737.735683,97007.414458,100824.800349,96507.575488,98907.357616,94998.904980,94579.464217,77647.246855,94767.507401
Engineering manager,134815.424079,129103.675226,128359.497765,127811.829433,129085.906837,137915.986675,139037.555896,132172.636189,114863.544086,120785.400275
Front-end developer,96225.840717,94206.532926,94630.126543,94311.818283,86897.823712,104567.051239,97428.390244,101052.710425,81690.227596,84764.235328
Full-stack developer,100760.010729,98787.815116,99706.957430,100452.379666,95583.372553,108045.633455,104211.111568,103753.021887,86155.751761,95048.443843
Game or graphics developer,84509.326054,77719.247360,77139.404255,78969.330827,67972.703125,88517.808976,85025.635739,85277.511826,73369.112260,86042.783383
Marketing or sales professional,109111.689189,104689.951531,104029.280423,107508.881967,108480.000000,136322.868020,114141.080000,128550.090226,106256.276860,117148.633663
Mobile developer,87438.777441,85140.086588,86311.975639,86235.850125,76567.631000,103928.546975,90264.387755,91730.336286,73513.509891,79321.725962
Product manager,113316.746269,113460.299391,113259.147362,109354.991970,112418.226738,120196.808362,111948.907809,116363.662556,101109.298936,105878.980695
QA or test developer,97334.890613,95384.128909,95129.460311,94441.751457,89600.199297,107203.709920,98580.406801,107774.822064,92680.589892,97807.957048
Student,47124.582152,42776.135684,43904.582497,43512.859773,38710.408534,49058.954069,48675.861507,41100.433206,39606.556707,40988.068544
System administrator,101249.732753,96784.496647,96347.987206,101704.998053,97592.190875,106619.010551,103096.945378,105925.870667,93818.882049,94245.067321

In [16]:
# Aggregation by mean gives a fraction of dev types who know each skill
SalLangDev = expdev_df.groupby('DevType').mean()
SalLangDev = SalLangDev.drop(index='', columns=['Respondent', 'ConvertedSalary'])

# Round each percent to 2 decimals
SalLangDev = SalLangDev.round(decimals=2)

SalLangDev

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++,salaryJavaScript,salaryHTML,salaryCSS,salarySQL,salaryJava,salaryBash/Shell,salaryPython,salaryC#,salaryPHP,salaryC++
DevType,,,,,,,,,,,,,,,,,,,,
Back-end developer,0.76,0.72,0.69,0.66,0.45,0.46,0.39,0.39,0.33,0.22,73481.19,67139.63,64825.80,64307.02,41391.46,49365.19,39495.60,38546.81,26929.59,19805.01
"C-suite executive (CEO, CTO, etc.)",0.82,0.79,0.77,0.70,0.40,0.54,0.41,0.36,0.45,0.26,98091.05,94169.21,90448.27,85547.61,43578.51,71609.13,52279.62,42635.93,47916.48,29587.86
Data or business analyst,0.64,0.67,0.62,0.77,0.37,0.43,0.49,0.38,0.29,0.20,71654.11,72523.21,68709.13,84658.58,36667.01,52238.09,52950.11,47434.17,29234.06,20569.45
Data scientist or machine learning specialist,0.53,0.54,0.49,0.59,0.41,0.54,0.76,0.24,0.19,0.33,55602.94,54471.33,50266.26,62032.21,40366.88,58895.16,79183.45,25126.51,16698.54,32021.42
Database administrator,0.80,0.80,0.77,0.83,0.40,0.50,0.40,0.43,0.47,0.22,77198.53,75057.52,72808.19,80082.41,34837.74,54528.54,42782.79,43244.92,41039.65,19347.83
Designer,0.79,0.81,0.80,0.65,0.42,0.40,0.34,0.40,0.41,0.26,72320.23,72668.23,70723.38,58152.92,31828.03,40900.48,31807.69,40188.87,32660.28,21222.63
Desktop or enterprise applications developer,0.69,0.68,0.65,0.67,0.43,0.40,0.34,0.61,0.25,0.34,68476.50,67139.34,64398.71,65229.29,38894.82,41428.69,32364.44,61676.72,20546.78,31178.13
DevOps specialist,0.76,0.71,0.68,0.66,0.44,0.69,0.52,0.34,0.33,0.20,89563.16,81110.92,77951.30,78231.04,50573.58,81367.38,57876.49,43424.51,34085.40,22542.37
Educator or academic researcher,0.62,0.65,0.62,0.53,0.45,0.55,0.57,0.27,0.29,0.38,56177.21,56736.81,52379.82,45408.61,31512.54,50365.20,46978.08,23608.80,22224.22,31910.66
Embedded applications or devices developer,0.53,0.51,0.47,0.43,0.42,0.57,0.57,0.39,0.24,0.64,49768.28,49039.04,45420.92,43492.31,40867.82,56167.77,54519.87,36778.93,18572.26,60196.43
Engineering manager,0.75,0.71,0.68,0.65,0.45,0.56,0.44,0.35,0.31,0.24,100941.52,91323.59,86911.43,82671.43,57791.24,76589.07,61077.38,46191.51,35931.08,29536.15
Front-end developer,0.88,0.86,0.85,0.63,0.40,0.41,0.31,0.39,0.38,0.19,85051.80,80933.34,80447.64,59314.07,34765.71,43378.73,30679.22,39843.92,31060.76,15702.17
Full-stack developer,0.87,0.83,0.81,0.68,0.42,0.45,0.35,0.42,0.35,0.18,87836.45,81859.89,80787.86,68392.77,40268.07,49044.59,36972.96,43402.74,29927.89,17333.71
Game or graphics developer,0.68,0.68,0.65,0.48,0.49,0.45,0.45,0.54,0.35,0.52,57553.02,52849.09,50199.95,37702.79,33463.48,39447.17,38065.32,46224.78,25472.25,44609.87
Marketing or sales professional,0.78,0.82,0.79,0.64,0.35,0.41,0.37,0.28,0.51,0.21,84813.71,86215.25,82611.49,68886.99,37831.26,56419.34,41963.63,35918.41,54021.05,24857.17
Mobile developer,0.68,0.65,0.63,0.52,0.59,0.36,0.31,0.37,0.32,0.25,59540.06,55653.22,54656.44,44818.28,45399.91,37134.27,27868.70,33752.38,23415.71,19716.25
Product manager,0.79,0.79,0.77,0.71,0.41,0.50,0.40,0.39,0.41,0.23,89986.83,90001.21,86709.37,77719.81,46141.81,60573.28,45310.31,45564.70,41722.01,24076.08
QA or test developer,0.73,0.73,0.70,0.67,0.47,0.52,0.44,0.39,0.33,0.25,71373.52,69413.60,66191.94,62961.17,42425.18,55491.23,43448.71,42027.10,31047.87,24648.80
Student,0.66,0.71,0.67,0.54,0.57,0.42,0.52,0.33,0.35,0.40,30885.71,30221.48,29554.01,23456.15,22027.99,20748.54,25232.10,13642.29,13715.11,16287.91
System administrator,0.78,0.78,0.75,0.72,0.42,0.66,0.50,0.34,0.47,0.25,78937.78,75372.30,72097.48,72724.83,40582.72,70355.56,51252.37,35640.51,44304.72,23393.12

In [13]:
# Convert df to dict to serve as json. Orient by index to make it easily searchable by devtype
SalLangDev_dict = SalLangDev.to_dict(orient='index')

pprint(SalLangDev)

                                               JavaScript      HTML       CSS  \
DevType
Back-end developer                               73481.19  67139.63  64825.80
C-suite executive (CEO, CTO, etc.)               98091.05  94169.21  90448.27
Data or business analyst                         71654.11  72523.21  68709.13
Data scientist or machine learning specialist    55602.94  54471.33  50266.26
Database administrator                           77198.53  75057.52  72808.19
Designer                                         72320.23  72668.23  70723.38
Desktop or enterprise applications developer     68476.50  67139.34  64398.71
DevOps specialist                                89563.16  81110.92  77951.30
Educator or academic researcher                  56177.21  56736.81  52379.82
Embedded applications or devices developer       49768.28  49039.04  45420.92
Engineering manager                             100941.52  91323.59  86911.43
Front-end developer                              85051.80  80933.34  80447.64
Full-stack developer                             87836.45  81859.89  80787.86
Game or graphics developer                       57553.02  52849.09  50199.95
Marketing or sales professional                  84813.71  86215.25  82611.49
Mobile developer                                 59540.06  55653.22  54656.44
Product manager                                  89986.83  90001.21  86709.37
QA or test developer                             71373.52  69413.60  66191.94
Student                                          30885.71  30221.48  29554.01
System administrator                             78937.78  75372.30  72097.48

                                                    SQL      Java  Bash/Shell  \
DevType
Back-end developer                             64307.02  41391.46    49365.19
C-suite executive (CEO, CTO, etc.)             85547.61  43578.51    71609.13
Data or business analyst                       84658.58  36667.01    52238.09
Data scientist or machine learning specialist  62032.21  40366.88    58895.16
Database administrator                         80082.41  34837.74    54528.54
Designer                                       58152.92  31828.03    40900.48
Desktop or enterprise applications developer   65229.29  38894.82    41428.69
DevOps specialist                              78231.04  50573.58    81367.38
Educator or academic researcher                45408.61  31512.54    50365.20
Embedded applications or devices developer     43492.31  40867.82    56167.77
Engineering manager                            82671.43  57791.24    76589.07
Front-end developer                            59314.07  34765.71    43378.73
Full-stack developer                           68392.77  40268.07    49044.59
Game or graphics developer                     37702.79  33463.48    39447.17
Marketing or sales professional                68886.99  37831.26    56419.34
Mobile developer                               44818.28  45399.91    37134.27
Product manager                                77719.81  46141.81    60573.28
QA or test developer                           62961.17  42425.18    55491.23
Student                                        23456.15  22027.99    20748.54
System administrator                           72724.83  40582.72    70355.56

                                                 Python        C#       PHP  \
DevType
Back-end developer                             39495.60  38546.81  26929.59
C-suite executive (CEO, CTO, etc.)             52279.62  42635.93  47916.48
Data or business analyst                       52950.11  47434.17  29234.06
Data scientist or machine learning specialist  79183.45  25126.51  16698.54
Database administrator                         42782.79  43244.92  41039.65
Designer                                       31807.69  40188.87  32660.28
Desktop or enterprise applications developer   32364.44  61676.72  20546.78
DevOps specialist                              57876.49  43424.51  34085.40
Educator or academic researcher                46978.08  23608.80  22224.22
Embedded applications or devices developer     54519.87  36778.93  18572.26
Engineering manager                            61077.38  46191.51  35931.08
Front-end developer                            30679.22  39843.92  31060.76
Full-stack developer                           36972.96  43402.74  29927.89
Game or graphics developer                     38065.32  46224.78  25472.25
Marketing or sales professional                41963.63  35918.41  54021.05
Mobile developer                               27868.70  33752.38  23415.71
Product manager                                45310.31  45564.70  41722.01
QA or test developer                           43448.71  42027.10  31047.87
Student                                        25232.10  13642.29  13715.11
System administrator                           51252.37  35640.51  44304.72

                                                    C++
DevType
Back-end developer                             19805.01
C-suite executive (CEO, CTO, etc.)             29587.86
Data or business analyst                       20569.45
Data scientist or machine learning specialist  32021.42
Database administrator                         19347.83
Designer                                       21222.63
Desktop or enterprise applications developer   31178.13
DevOps specialist                              22542.37
Educator or academic researcher                31910.66
Embedded applications or devices developer     60196.43
Engineering manager                            29536.15
Front-end developer                            15702.17
Full-stack developer                           17333.71
Game or graphics developer                     44609.87
Marketing or sales professional                24857.17
Mobile developer                               19716.25
Product manager                                24076.08
QA or test developer                           24648.80
Student                                        16287.91
System administrator                           23393.12