In [1]:
# Import dependencies
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from pprint import pprint

app = Flask(__name__)

In [2]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///../db/developers.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Survey = Base.classes.survey

/Users/alexstanley/anaconda3/envs/python36/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [11]:
# find devtypes, languageworkedwith, databaseworkedwith, frameworkWorkededWith
s = [Survey.Respondent,
     Survey.DevType,
     Survey.LanguageWorkedWith,
     Survey.ConvertedSalary
    ]

radarResults = db.session.query(*s).filter(Survey.ConvertedSalary != '').all()

In [13]:
# put results into pandas
df = pd.DataFrame(radarResults)
df['ConvertedSalary'] = pd.to_numeric(df['ConvertedSalary'])
df.head()

,Respondent,DevType,LanguageWorkedWith,ConvertedSalary
0,2999,Data or business analyst;Educator or academic ...,C;C++;Java;SQL;Swift,8400
1,2943,Back-end developer;Database administrator;Desk...,C++;Java;JavaScript;HTML;CSS,4980
2,3203,Back-end developer,C++;Java;Python;SQL;Bash/Shell,36716
3,3010,Mobile developer,C;C#;Java;Objective-C;Rust;Swift;TypeScript,51408
4,3067,Mobile developer,C;JavaScript;Objective-C;Swift,10175

In [16]:
# explode the devtype column so there's only one devtype for each row
expdev_df = pd.DataFrame(df.DevType.str.split(';').tolist(), index=[df.Respondent, df.LanguageWorkedWith, df.ConvertedSalary]).stack()

expdev_df = expdev_df.reset_index()

expdev_df = expdev_df.rename(columns={0:'DevType'})
expdev_df = expdev_df.drop(columns='level_3')

expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer
4,2999,C;C++;Java;SQL;Swift,8400,System administrator

In [17]:
expdev_df['LanguageList'] = expdev_df.LanguageWorkedWith.str.split(';')
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]"
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]"

In [18]:
# hard code top 10 languages from stack ooverflow website
topLang = ['JavaScript', 'HTML', 'CSS', 'SQL', 'Java', 'Bash/Shell', 'Python', 'C#', 'PHP', 'C++']

In [19]:
# Test case for one language
# Check if language is in each entries list of known languagesLanguage List. If yes, return 1, otherwise, return 0
# expdev_df['Python'] = np.where(expdev_df.LanguageList.apply(lambda x: 'Python' in x), 1, 0)

In [20]:
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]"
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]"

In [36]:
# Loop through each language and see if each respondent knows the language
for language in topLang:
    
    # dynamically create new column headers
    print('Checking for: ' + language + '...')        
    
    # Create new column to check if the respondent knows a language. If the languege is in the list of known languages, it gets 1, else it gets 0
    expdev_df[language] = np.where(expdev_df.LanguageList.apply(lambda x: language in x), expdev_df['ConvertedSalary'], False)
    
    print(f'{language} done!')

Checking for: JavaScript...
JavaScript done!
Checking for: HTML...
HTML done!
Checking for: CSS...
CSS done!
Checking for: SQL...
SQL done!
Checking for: Java...
Java done!
Checking for: Bash/Shell...
Bash/Shell done!
Checking for: Python...
Python done!
Checking for: C#...
C# done!
Checking for: PHP...
PHP done!
Checking for: C++...
C++ done!

In [37]:
expdev_df.head()

,Respondent,LanguageWorkedWith,ConvertedSalary,DevType,LanguageList,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
0,2999,C;C++;Java;SQL;Swift,8400,Data or business analyst,"[C, C++, Java, SQL, Swift]",0,0,0,8400,8400,0,0,0,0,8400
1,2999,C;C++;Java;SQL;Swift,8400,Educator or academic researcher,"[C, C++, Java, SQL, Swift]",0,0,0,8400,8400,0,0,0,0,8400
2,2999,C;C++;Java;SQL;Swift,8400,Engineering manager,"[C, C++, Java, SQL, Swift]",0,0,0,8400,8400,0,0,0,0,8400
3,2999,C;C++;Java;SQL;Swift,8400,Mobile developer,"[C, C++, Java, SQL, Swift]",0,0,0,8400,8400,0,0,0,0,8400
4,2999,C;C++;Java;SQL;Swift,8400,System administrator,"[C, C++, Java, SQL, Swift]",0,0,0,8400,8400,0,0,0,0,8400

In [41]:
# Aggregation by mean gives a fraction of dev types who know each skill
SalLangDev = expdev_df.groupby('DevType').mean()
SalLangDev = SalLangDev.drop(index='', columns=['Respondent', 'ConvertedSalary'])

# Round each percent to 2 decimals
SalLangDev = SalLangDev.round(decimals=2)

SalLangDev

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
DevType,,,,,,,,,,
Back-end developer,73481.19,67139.63,64825.80,64307.02,41391.46,49365.19,39495.60,38546.81,26929.59,19805.01
"C-suite executive (CEO, CTO, etc.)",98091.05,94169.21,90448.27,85547.61,43578.51,71609.13,52279.62,42635.93,47916.48,29587.86
Data or business analyst,71654.11,72523.21,68709.13,84658.58,36667.01,52238.09,52950.11,47434.17,29234.06,20569.45
Data scientist or machine learning specialist,55602.94,54471.33,50266.26,62032.21,40366.88,58895.16,79183.45,25126.51,16698.54,32021.42
Database administrator,77198.53,75057.52,72808.19,80082.41,34837.74,54528.54,42782.79,43244.92,41039.65,19347.83
Designer,72320.23,72668.23,70723.38,58152.92,31828.03,40900.48,31807.69,40188.87,32660.28,21222.63
Desktop or enterprise applications developer,68476.50,67139.34,64398.71,65229.29,38894.82,41428.69,32364.44,61676.72,20546.78,31178.13
DevOps specialist,89563.16,81110.92,77951.30,78231.04,50573.58,81367.38,57876.49,43424.51,34085.40,22542.37
Educator or academic researcher,56177.21,56736.81,52379.82,45408.61,31512.54,50365.20,46978.08,23608.80,22224.22,31910.66
Embedded applications or devices developer,49768.28,49039.04,45420.92,43492.31,40867.82,56167.77,54519.87,36778.93,18572.26,60196.43
Engineering manager,100941.52,91323.59,86911.43,82671.43,57791.24,76589.07,61077.38,46191.51,35931.08,29536.15
Front-end developer,85051.80,80933.34,80447.64,59314.07,34765.71,43378.73,30679.22,39843.92,31060.76,15702.17
Full-stack developer,87836.45,81859.89,80787.86,68392.77,40268.07,49044.59,36972.96,43402.74,29927.89,17333.71
Game or graphics developer,57553.02,52849.09,50199.95,37702.79,33463.48,39447.17,38065.32,46224.78,25472.25,44609.87
Marketing or sales professional,84813.71,86215.25,82611.49,68886.99,37831.26,56419.34,41963.63,35918.41,54021.05,24857.17
Mobile developer,59540.06,55653.22,54656.44,44818.28,45399.91,37134.27,27868.70,33752.38,23415.71,19716.25
Product manager,89986.83,90001.21,86709.37,77719.81,46141.81,60573.28,45310.31,45564.70,41722.01,24076.08
QA or test developer,71373.52,69413.60,66191.94,62961.17,42425.18,55491.23,43448.71,42027.10,31047.87,24648.80
Student,30885.71,30221.48,29554.01,23456.15,22027.99,20748.54,25232.10,13642.29,13715.11,16287.91
System administrator,78937.78,75372.30,72097.48,72724.83,40582.72,70355.56,51252.37,35640.51,44304.72,23393.12

In [42]:
# Convert df to dict to serve as json. Orient by index to make it easily searchable by devtype
SalLangDev_dict = SalLangDev.to_dict(orient='index')

pprint(SalLangDev)

                                               JavaScript      HTML       CSS  \
DevType
Back-end developer                               73481.19  67139.63  64825.80
C-suite executive (CEO, CTO, etc.)               98091.05  94169.21  90448.27
Data or business analyst                         71654.11  72523.21  68709.13
Data scientist or machine learning specialist    55602.94  54471.33  50266.26
Database administrator                           77198.53  75057.52  72808.19
Designer                                         72320.23  72668.23  70723.38
Desktop or enterprise applications developer     68476.50  67139.34  64398.71
DevOps specialist                                89563.16  81110.92  77951.30
Educator or academic researcher                  56177.21  56736.81  52379.82
Embedded applications or devices developer       49768.28  49039.04  45420.92
Engineering manager                             100941.52  91323.59  86911.43
Front-end developer                              85051.80  80933.34  80447.64
Full-stack developer                             87836.45  81859.89  80787.86
Game or graphics developer                       57553.02  52849.09  50199.95
Marketing or sales professional                  84813.71  86215.25  82611.49
Mobile developer                                 59540.06  55653.22  54656.44
Product manager                                  89986.83  90001.21  86709.37
QA or test developer                             71373.52  69413.60  66191.94
Student                                          30885.71  30221.48  29554.01
System administrator                             78937.78  75372.30  72097.48

                                                    SQL      Java  Bash/Shell  \
DevType
Back-end developer                             64307.02  41391.46    49365.19
C-suite executive (CEO, CTO, etc.)             85547.61  43578.51    71609.13
Data or business analyst                       84658.58  36667.01    52238.09
Data scientist or machine learning specialist  62032.21  40366.88    58895.16
Database administrator                         80082.41  34837.74    54528.54
Designer                                       58152.92  31828.03    40900.48
Desktop or enterprise applications developer   65229.29  38894.82    41428.69
DevOps specialist                              78231.04  50573.58    81367.38
Educator or academic researcher                45408.61  31512.54    50365.20
Embedded applications or devices developer     43492.31  40867.82    56167.77
Engineering manager                            82671.43  57791.24    76589.07
Front-end developer                            59314.07  34765.71    43378.73
Full-stack developer                           68392.77  40268.07    49044.59
Game or graphics developer                     37702.79  33463.48    39447.17
Marketing or sales professional                68886.99  37831.26    56419.34
Mobile developer                               44818.28  45399.91    37134.27
Product manager                                77719.81  46141.81    60573.28
QA or test developer                           62961.17  42425.18    55491.23
Student                                        23456.15  22027.99    20748.54
System administrator                           72724.83  40582.72    70355.56

                                                 Python        C#       PHP  \
DevType
Back-end developer                             39495.60  38546.81  26929.59
C-suite executive (CEO, CTO, etc.)             52279.62  42635.93  47916.48
Data or business analyst                       52950.11  47434.17  29234.06
Data scientist or machine learning specialist  79183.45  25126.51  16698.54
Database administrator                         42782.79  43244.92  41039.65
Designer                                       31807.69  40188.87  32660.28
Desktop or enterprise applications developer   32364.44  61676.72  20546.78
DevOps specialist                              57876.49  43424.51  34085.40
Educator or academic researcher                46978.08  23608.80  22224.22
Embedded applications or devices developer     54519.87  36778.93  18572.26
Engineering manager                            61077.38  46191.51  35931.08
Front-end developer                            30679.22  39843.92  31060.76
Full-stack developer                           36972.96  43402.74  29927.89
Game or graphics developer                     38065.32  46224.78  25472.25
Marketing or sales professional                41963.63  35918.41  54021.05
Mobile developer                               27868.70  33752.38  23415.71
Product manager                                45310.31  45564.70  41722.01
QA or test developer                           43448.71  42027.10  31047.87
Student                                        25232.10  13642.29  13715.11
System administrator                           51252.37  35640.51  44304.72

                                                    C++
DevType
Back-end developer                             19805.01
C-suite executive (CEO, CTO, etc.)             29587.86
Data or business analyst                       20569.45
Data scientist or machine learning specialist  32021.42
Database administrator                         19347.83
Designer                                       21222.63
Desktop or enterprise applications developer   31178.13
DevOps specialist                              22542.37
Educator or academic researcher                31910.66
Embedded applications or devices developer     60196.43
Engineering manager                            29536.15
Front-end developer                            15702.17
Full-stack developer                           17333.71
Game or graphics developer                     44609.87
Marketing or sales professional                24857.17
Mobile developer                               19716.25
Product manager                                24076.08
QA or test developer                           24648.80
Student                                        16287.91
System administrator                           23393.12